<div class="container-fuild">
  <section class="mainground">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 mx-auto text-center my-5">
				<!--<h1 class="text-white"><strong>Sample</strong></h1>-->
			</div>
		</div>
	</section>
</div>